<!DOCTYPE html>
<html>
  <head>
    <title>DesignMatch</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="custom-body">

    <nav class="navbar navbar-default">
      <span class="navbar-brand mb-0 h1">DesignMatch - Grupo 07</span>
    </nav>
    <br>
    <div class="container-fluid">
      <%= yield %>
    </div>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
  </body>
</html>
